body {
    background-color: #1e177c;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #aebac6;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: #527f61;
    text-decoration: none;
}

h1 {
    text-align: center;
}

#about {
    text-align: center;
    border: black solid 1px;
}

#contact {
    text-align: center;
    border: black solid 1px;
}

#main {
    text-align: center;
}

#contact-about {
    display: flex;
    justify-content: center;
    margin-top: 415px;
    padding: 10px;
    border: black solid 1px;
}

#footer {
    text-align: end;
    margin-top: 90px;

}
